.tittle {
    width: 183px;
    text-align: left;
    font: normal normal bold 12px/16px Arial;
    letter-spacing: 0px;
    color: #B5B5B5;
    opacity: 1;
    margin: 0;
    box-sizing: border-box;
}

.from {
    text-align: left;
    font: normal normal normal 12px/16px Arial;
    letter-spacing: 0px;
    color: #B5B5B5;
    opacity: 1;
}

.text {
    text-align: left;
    font: italic normal normal 12px/16px Arial;
    letter-spacing: 0px;
    color: #B5B5B5;
    opacity: 1;
    overflow: hidden;
}

.textArea {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: inset 0px 0px 10px #00000029;
    border-radius: 5px;
    opacity: 1;
    resize: none;
    width: 177px;
    height: 72px;
    border: 0;
    height: 72px;
    box-sizing: border-box;
    font: normal normal bold 12px/18px Arial;
    letter-spacing: 0px;
    color: #8E8E8E;
    
}

.buttonSend {
    width: 179px;
    height: 33px;
    /* UI Properties */
    background: transparent linear-gradient(180deg, #7BCA10 0%, #619D10 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 15px #00000029;
    border-radius: 5px;
    opacity: 1;
    border: 0;
    text-align: center;
    font: normal normal bold 14px/16px Arial;
    letter-spacing: 0px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat {
    box-sizing: border-box;
    width: 183px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.imgButton {
    width: 17px;
    height: 13px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-right: 10px;
}